<div class="container">
  <div class="row">
    <div class="col-xs-4 col-md-8 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Children
        </div>
        <div class="panel-body">
            <table class="table">
              <tr>
                <th>Child Name</th>
                <th>Birthday</th>
                <th>Edit/Delete</th>
              </tr>
              <tbody>
                <% @children.each do |child| %>
                <tr>
                  <td><%= child.name %></td>
                  <td><%= child.birthday.strftime("%m/%d/%y") %></td>
                  <td><%= link_to "Edit", edit_user_child_path(child.user.id, child.id) %>
                    <%= link_to "Delete", user_child_path(child.user.id, child.id), :method => :delete %>
                  </td>
                </tr>
                <% end %>
              </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
