
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <p>Please welcome new user <%=@user.profile.first_name%> </p>
      <p>They can be reached at <%=@user.email %></p>
      <p>Make sure to add them to facebook and Evite.</p>
<br />
<br />
<p>Sincerely,</p>
<br />
<p>Sign Up Team</p>
</div>
</body>
</html>
