<div class="container">
  <div class="row">
    <div class="col-xs-4 col-md-8 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Family
        </div>
        <div class="panel-body">
          <label>User Birthday: </label>&nbsp;<%= @family.user_birthday.strftime("%m/%d/%y") %>
          <br />
          <br />
          <label>Spouse: </label>&nbsp;<%= @family.spouse %>
          <br />
          <br />
          <label>Spouse Birthday: </label>&nbsp;<%= @family.spouse_birthday.strftime("%m/%d/%y") %>
          <br />
          <br />
          <%= link_to "Edit", edit_user_family_path(@family), :class => "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>
