<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Common Links</h3>
        </div>
        <div class="panel-body">
          <a href="http://www.tcmottc.org">TCMOTTC Website</a>
          <br />
          <br />
          <a href="https://www.facebook.com/tricitiesMOTTC/">TCMOTTC Facebook Public page</a>
          <br />
          <br />
          <a href="http://www.evite.com">Evite</a>
          <br />
          <br />
          <a href="http://iomotc.org">IOMOTC</a>
          <br />
          <br />
          <a href="http://myconsignmentmanager.com/tcmottc">My Consignment Manager</a>
        </div>
      </div>
    </div>
  </div>
</div>
