<div class="container">
  <h2>Site Issues</h2>
<div class="row">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Concern</th>
      <th></th>
    </tr>
    <tbody>
      <% @site_issues.each do |site_issue| %>
      <tr>
        <td><%= site_issue.name %></td>
        <td><%= site_issue.email %></td>
        <td><%= site_issue.concern %></td>
        <td><%= link_to "Completed", admin_destroy_site_issues_path(site_issue.id), method: :delete, :class => "btn btn-default" %></td>
      </tr>
        <% end %>
    </tbody>
  </table>
</div>
</div>
