<%= form_for @committee do |f| %>
<label>Select the committee you would like to join:</label>
<br />
<br />

  <%= f.collection_check_boxes(:committee, Committee.all,  :id, :name)%>
  <br />
  <br />
  <%= f.submit "Join Committee"%>
<% end %>
