
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-md-8 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Committees I am on
        </div>
        <div class="panel-body">
          <% @user_committees.each do |committee| %>

          <p><%= committee.name %> <%= link_to "Remove me", user_committee_path(:user_id => current_user.id, :id => committee.id), :method => :delete %></p>

          <%end %>
          <br />
          <br />
          Committees I can join:
          <% @committees.each do |committee| %>
            <% if !current_user.committees.include?(committee) %>

              <%= link_to committee.name, user_add_committee_path(:committee_id => committee.id), :class => "btn btn-default"%>
            <% end %>
          <% end %>
        </div>
