<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark" id="background-image">
  <div class="col-md-8 px-0">
    <br />
    <br />
    <h3 class="display-4 font-italic" id="tag-line">Nothing is more important than your family!</h3>
    <!-- <p class="lead my-3"></p> -->
    <!-- <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
    <br />
    <br />
  </div>
</div>
<div class="container">
   <!-- Example row of columns -->
   <div class="row">
     <div class="col-md-4">
       <h2>Membership</h2>
       <p>The dues that we collect get split between state, national and our club. Our portion primarily pays for club events. </p>
       <p><a class="btn btn-secondary" href="/membership" role="button">View details &raquo;</a></p>
     </div>
     <div class="col-md-4">
       <h2>Resale</h2>
       <p>We hold semi annual resales in the spring and fall. Our next resale is March 30th, 2019. </p>
       <p><a class="btn btn-secondary" href="resale" role="button">View details &raquo;</a></p>
     </div>
     <div class="col-md-4">
       <h2>State Philanthropic</h2>
       <p>Each year the IOMOTC chooses either a family or non profit to assist. Clubs participate in raising funds for these causes. </p>
       <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
     </div>
   </div>

   <hr>

<br />
<br />
 </div> <!-- /container -->
