  <div class="container">
  <!-- <div class="h-100"> -->
    <br />
    <br />
    <br />
    <p>Annual dues are $34</p>
    <p>A portion of the dues goes toward supporting the state & national organizations.  The remaining money supports our monthly newsletter, meetings, parties and other social activities. </p>
    <br />
    <p>​Questions can be directed sent to: tcmottc.membership@gmail.com</p>


    <%= link_to "Click here to join", new_user_registration_path %>

    <p>Ready to renew? Log into your account and access your membership.</p>
  <!-- </div> -->
</div>
