<div>
  <h1>Save the Date:</h1>
  <br />
  <h3>Spring Resale</h3>
  <br />

  <p>March 28-30, 2019</p>

  <p>Mooseheart Field House</p>
  <p>Batavia, Il</p>
  <p>Saturday - Sale is open to the public 8am-1pm​</p>


  <p>Admission is $2  for Adults and Kids over 4 years old</p>

  <p>NO Strollers or Laundry Baskets Allowed....Wagons are accepted</p>

  <p>A dressing room will be provided</p>

  <p>Credit Cards, Cash and Checks are allowed.  There is a fee to process credit cards.</p>
  <p>1/2 Priced items will start at 1130AM and are only available on select items that are marked.</p>

  <br />
  <p>Want to Shop Early???  Sign up to Sell or volunteer for a shift and you can shop the resale Friday night before it's open to the public.  Contact Lisa at tcmottc.resale2@gmail.com for info.</p>

  <hr />
  <h1> Want to be a seller?</h1>
  <h3>Here is what you need to know</h3>
  Below is a link to the resale manual that will assist you in how to use my consignment manager to log and tag your items.
  <br />
  <p>New this year.</p>
  <ul>
    <li>You do not have to purchase supplies through TCMOTTC unless you choose to do so.  You may use regular white card stock for your tags.  Please do not use plain paper.  We will not be responsible for tags that come off.</li>
    <li>We will be changing the sizing and accommodating high school sizes (basically all sizes) as well as maternity clothes.</li>
    <li>We will provide a dressing room for clothes to be tried on.   This will be in the resale room.</li>
    <li>Outside Sellers are welcome!!!   You can email Mike or Lisa at tcmottc.resale2@gmail.com for help</li>
    <li>You do not have to stay when you drop off your items to sell. Please make sure your bins are properly marked so that we may process it appropriately.  Please pick up your bins Friday by 2pm.</li>
    <li>Donations will be accepted and will be going to Hearts for Honduras.  You can donate Clothing and Shoes at the end of the sale.  Thanks!</li>
  </ul>
  <br />
  <br />
  <br />

</div>
